###############
### Project ###
.env
.cache/
[Tt]mp/
build/
coverage/

# Test Fixtures
*.layout
*.modelproj
*.sln

## Dependencies
node_modules/
bower[-_]components/



#######################
### Editor Specific ###
## Visual Studio
*.suo
.vs/
[Oo]bj/
[Ll]ib/
packages/
[Dd]ebug/

## NodeJS Tools for Visual Studio
*.njsproj

## Visual Studio Code
typings/
.vscode/

## Vim
# Swap Files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]



#################
## OS Specific ##
## Windows
Thumbs.db
ehthumbs.db

## OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes



#############
### Misc. ###
*.[Tt][Mm][Pp]
